<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RENT{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'pages:index' %}">RENT</a>
        </div>

        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu message-dropdown">
                    {% for i in 'xxx' %}
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Лолоша Ололоев</strong></h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Вчера at 4:32 PM</p>
                                        <p>Какое то очень важное сообщение...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="message-footer">
                        <a href="#">Читать все новые сообщения</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Уведомление <span class="label label-default">Знак</span></a>
                    </li>
                    <li>
                        <a href="#">Уведомление <span class="label label-primary">Знак</span></a>
                    </li>
                    <li>
                        <a href="#">Уведомление <span class="label label-success">Знак</span></a>
                    </li>
                    <li>
                        <a href="#">Уведомление <span class="label label-info">Знак</span></a>
                    </li>
                    <li>
                        <a href="#">Уведомление <span class="label label-warning">Знак</span></a>
                    </li>
                    <li>
                        <a href="#">Уведомление <span class="label label-danger">Знак</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Посмотреть все</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i> {{ request.user }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'admin:index' %}"><i class="fa fa-fw fa-qq"></i> Админка</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Входящие</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Настройки</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'pages:logout' %}"><i class="fa fa-fw fa-power-off"></i> Выход</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="{% block menu_index %}{% endblock %}">
                    <a href="{% url 'pages:index' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="{% block menu_new_user %}{% endblock %}">
                    <a href="{% url 'users:create' %}"><i class="fa fa-fw fa-user"></i> Новый клиент</a>
                </li>
                <li class="{% block menu_card_check %}{% endblock %}">
                    <a href="{% url 'users:card_check' %}"><i class="fa fa-fw fa-credit-card"></i> По карте</a>
                </li>
                <li class="{% block menu_reserve_check %}{% endblock %}">
                    <a href="{% url 'inventory:reserve_check' %}"><i class="fa fa-fw fa-crosshairs"></i> По номеру брони</a>
                </li>
{#                <li class="{% block menu_charts %}{% endblock %}">#}
{#                    <a href="{% url 'pages:charts' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>#}
{#                </li>#}
{#                <li class="{% block menu_tables %}{% endblock %}">#}
{#                    <a href="{% url 'pages:tables' %}"><i class="fa fa-fw fa-table"></i> Tables</a>#}
{#                </li>#}
{#                <li class="{% block menu_forms %}{% endblock %}">#}
{#                    <a href="{% url 'pages:forms' %}"><i class="fa fa-fw fa-edit"></i> Forms</a>#}
{#                </li>#}
{#                <li class="{% block menu_elements %}{% endblock %}">#}
{#                    <a href="{% url 'pages:elements' %}"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>#}
{#                </li>#}
{#                <li class="{% block menu_grid %}{% endblock %}">#}
{#                    <a href="{% url 'pages:grid' %}"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i#}
{#                            class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>#}
{#                    <ul id="demo" class="collapse">#}
{#                        <li>#}
{#                            <a href="#">Dropdown Item</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">Dropdown Item</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="{% block menu_blank %}{% endblock %}">#}
{#                    <a href="{% url 'pages:blank' %}"><i class="fa fa-fw fa-file"></i> Blank Page</a>#}
{#                </li>#}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            {% block container %}{% endblock %}
        </div>
    </div>

</div>
<!-- /#wrapper -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/main_util.min.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>