{% extends 'base.html' %}
{% load css_class %}

{% block title %}Создание нового клиента{% endblock %}

{% block menu_new_user %}active{% endblock %}

{% block container %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Новый клиент
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> <a href="#">Клиенты</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> Новый клиент
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <form role="form" action="" method="post">{% csrf_token %}

            {{ form.email }}

            <div class="col-lg-6">
                <!-- ФИО -->
                <div class="form-group">
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                    <p class="help-block">{{ form.first_name.help_text }}</p>
                </div>
                <div class="form-group">
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                    <p class="help-block">{{ form.last_name.help_text }}</p>
                </div>
                <div class="form-group">
                    {{ form.patronymic.errors }}
                    {{ form.patronymic }}
                    <p class="help-block">{{ form.patronymic.help_text }}</p>
                </div>
                <hr/>
                <!-- Документы -->
                <div class="form-group">
                    {{ form.passport.errors }}
                    {{ form.passport }}
                    <p class="help-block">{{ form.passport.help_text }}</p>
                </div>
                <div class="form-group">
                    {{ form.travel_passport.errors }}
                    {{ form.travel_passport }}
                    <p class="help-block">{{ form.travel_passport.help_text }}</p>
                </div>
                <div class="form-group">
                    {{ form.drive_license.errors }}
                    {{ form.drive_license }}
                    <p class="help-block">{{ form.drive_license.help_text }}</p>
                </div>
                <hr/>
                <!-- Телефон -->
                <div class="form-group input-group">
                    {{ form.phone.errors }}
                    <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                    {{ form.phone }}
                    <p class="help-block">{{ form.phone.help_text }}</p>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            {{ form.sms }} {{ form.sms.help_text }}
                        </label>
                    </div>
                </div>
                <hr/>
                <!-- Партнер -->
                <div class="form-group">
                    {{ form.partner.errors }}
                    {{ form.partner.label_tag }}
                    {{ form.partner|add_attributes:"form-control" }}
                    <p class="help-block">{{ form.partner.help_text }}</p>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Фото -->
                <div class="form-group">
                    {{ form.photo.errors }}
                    <img id="previewImg" class="img-thumbnail" src="{{ STATIC_URL }}img/default_user.jpg" width="300" height="300">
                    {{ form.photo|add_attributes:"upload-user-photo" }}
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/users.min.css">
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/users.min.js"></script>
{% endblock %}