{% extends 'base.html' %}

{% block title %}Создание нового клиента{% endblock %}

{% block body %}
    <div class="container">
        <h1>Создание нового клиента</h1>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Создать" />
        </form>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/users.min.css">
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/users.min.js"></script>
{% endblock %}