{% extends 'base.html' %}
{% load css_class %}

{% block title %}Создание нового клиента - Подтверждение телефона{% endblock %}

{% block menu_new_user %}active{% endblock %}

{% block container %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Новый клиент
                <small>Подтверждение телефона</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> <a href="{% url 'users:all' %}">Клиенты</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> Новый клиент
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <form role="form" action="" method="post">{% csrf_token %}

            <div class="col-lg-6">
                <!-- Код -->
                <div class="form-group">
                    {{ form.code.errors }}
                    {{ form.code.label_tag }}
                    {{ form.code|add_attributes:"form-control,type:text" }}
                    <p class="help-block">{{ form.code.help_text }}</p>
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-primary" type="submit">OK</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/users.min.css">
{% endblock %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/users.min.js"></script>
{% endblock %}